@charset "utf-8";

.holder {
    padding: 36px;
}
.magicbox {
    width: 400px;
    height: 300px;
    max-width: 90vw;
    max-height: 70vw;
    background-color: red;
    margin: 0 auto;
    border: 6px solid blue;
}